---
import BaseLayout from "../layouts/BaseLayout.astro";

import { dsaLinks, devLinks, coreLinks } from "../utils/data";
const baseUrl = import.meta.env.BASE_URL;
---

<style>
  h3 {
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
  }
</style>

<BaseLayout tabTitle="Code Journal">
  <h2>DSA</h2>
  <ul>
    {
      dsaLinks.map((entry) => (
        <h3>
          <li>
            <a href={`${baseUrl}/${entry.url}`}>{entry.title}</a>
          </li>
        </h3>
      ))
    }
  </ul>
  <h2>Development</h2>
  <ul>
    {
      devLinks.map((entry) => (
        <h3>
          <li>
            <a href={`${baseUrl}/dev/${entry.url}`}>{entry.title}</a>
          </li>
        </h3>
      ))
    }
  </ul>
  <h2>CS Core</h2>
  <ul>
    {
      coreLinks.map((entry) => (
        <h3>
          <li>
            <a href={`${baseUrl}/core/${entry.url}`}>{entry.title}</a>
          </li>
        </h3>
      ))
    }
  </ul>
</BaseLayout>
