---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const cppConceptEntries = (await getCollection("concepts")).filter((entry) =>
  entry.data.tags.includes("cpp")
);

const stlEntries = [];
const nonStlEntries = [];
for (const entry of cppConceptEntries) {
  if (entry.data.tags.includes("stl")) {
    stlEntries.push(entry);
  } else {
    nonStlEntries.push(entry);
  }
}

const baseUrl = import.meta.env.BASE_URL;
---

<BaseLayout tabTitle="C++">
  <h2 class="heading">C++</h2>
  <h3>STL</h3>
  <ul>
    {
      stlEntries.map((entry) => (
        <li>
          <a href={`${baseUrl}/cpp/${entry.slug}`}>{entry.data.title}</a>
        </li>
      ))
    }
  </ul>
  <h3>Other</h3>
  <ul>
    {
      nonStlEntries.map((entry) => (
        <li>
          <a href={`${baseUrl}/cpp/${entry.slug}`}>{entry.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
