---
const baseUrl = import.meta.env.BASE_URL;
---

<style>
  li {
    list-style-type: none;
    font-weight: bold;
    font-size: 22px;
    font-family: monospace;
  }

  a {
    text-decoration: none;
    color: var(--lineColor);
  }

  a:hover {
    text-decoration: underline dotted;
    text-underline-offset: 4px;
    font-size: 100%;
  }

  .home-link {
    margin-right: 0.5rem;
  }

  .topic-link {
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }

  .navlinks-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  @media (max-width: 768px) {
    .nav-container {
      /* flex-direction: column; */
      gap: 0.5rem;
    }
  }

  .ic-sun,
  .ic-moon {
    height: 20px;
  }

  #theme-slider-container {
    /* position: absolute; */
    /* position: fixed; */
    /* top: 10px;
    right: 10px; */
    /* Float on top of other content */
    /* z-index: 500; */
    /* height: 80px; */
  }

  #theme-toggle {
    display: none; /* Hide checkbox input */
  }

  .slider-label {
    background-color: var(--themeSliderBgColor);
    width: 50px;
    height: 20px;
    border-radius: 25px;
    padding: 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .slider-ball {
    background-color: white;
    position: absolute;
    height: 26px;
    width: 26px;
    left: 41px;
    top: 9px;
    /* left: 5px;
    top: 10px; */
    border-radius: 50%;
    transition: transform 0.1s linear;
  }

  #theme-toggle:checked + .slider-label .slider-ball {
    transform: translateX(-32px);
  }
</style>

<header transition:persist>
  <nav role="navigation" class="nav-container">
    <!-- NavLinks -->
    <div class="navlinks-container">
      <li class="home-link">
        <a href=`${baseUrl}`
          ><img
            src=`${baseUrl}/icons/favicon.svg`
            height="25"
            alt="favicon"
          /></a
        >
      </li>
      <li class="topic-link"><a href=`${baseUrl}/dsa`>DSA</a></li>
      <li class="topic-link"><a href=`${baseUrl}/dev`>Dev</a></li>
      <li class="topic-link"><a href=`${baseUrl}/core`>Core</a></li>
    </div>
    <!-- Theme Slider -->
    <div id="theme-slider-container">
      <input id="theme-toggle" type="checkbox" />
      <label for="theme-toggle" class="slider-label">
        <img class="ic-sun" src=`${baseUrl}/icons/sun.svg` alt="sun-icon" />
        <img class="ic-moon" src=`${baseUrl}/icons/moon.svg` alt="moon-icon" />
        <span class="slider-ball"></span>
      </label>
    </div>
  </nav>
</header>
