---
import { getCollection } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";

const nodeConcepts = (await getCollection("concepts")).filter((item) =>
  item.data.tags.includes("nodejs")
);

const baseUrl = import.meta.env.BASE_URL;
const folderSlug = "dev/nodejs";
const title = "Node.js";
---

<BaseLayout tabTitle={title}>
  <h2>{title}</h2>
  <ol>
    {
      nodeConcepts.map((entry) => (
        <li>
          <a href={`${baseUrl}/${folderSlug}/${entry.slug}/`}>
            {entry.data.title}
          </a>
        </li>
      ))
    }
  </ol>
</BaseLayout>
