---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { devLinks } from "../../utils/data";

const baseUrl = import.meta.env.BASE_URL;
const title = "Development";
---

<style>
  h2 {
    margin-block: 1.25rem;
    font-size: 20px;
  }
</style>

<BaseLayout tabTitle={title}>
  <h1>{title}</h1>
  <ul>
    <h2>
      <li>
        <a href={`${baseUrl}/cpp`}>C++</a>
      </li>
    </h2>
    {
      devLinks.map((entry) => (
        <h2>
          <li>
            <a href={`${baseUrl}/dev/${entry.url}`}>{entry.title}</a>
          </li>
        </h2>
      ))
    }
  </ul>
</BaseLayout>
