---
import BaseLayout from "../../layouts/BaseLayout.astro";

const baseUrl = import.meta.env.BASE_URL;
---

<BaseLayout tabTitle="Code Journal">
  <h2>Development</h2>
  <ul>
    <h3>
      <li>
        <a href={`${baseUrl}/dev/html-css`}>HTML, CSS</a>
      </li>
    </h3>
    <h3>
      <li>
        <a href={`${baseUrl}/dev/js-ts`}>Javascript, Typescript</a>
      </li>
    </h3>
    <h3>
      <li>
        <a href={`${baseUrl}/dev/astro`}>Astro</a>
      </li>
    </h3>
    <h3>
      <li>
        <a href={`${baseUrl}/dev/node`}>NodeJs</a>
      </li>
    </h3>
    <h3>
      <li>
        <a href={`${baseUrl}/dev/react-next`}>React, NextJs</a>
      </li>
    </h3>
    <h3>
      <li>
        <a href={`${baseUrl}/dev/flutter-dart`}>Flutter, Dart</a>
      </li>
    </h3>
  </ul>
</BaseLayout>
